<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-signin-client_id" content="645649360857-oulrj2jn4gpdtrkn1gh9761hop9gt6a2.apps.googleusercontent.com">
  <title>Kanban</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/8ec915f5a3.js"></script>
  <!-- <link rel="stylesheet" href="./assets/fa/css/all.min.css"> -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Overlock:ital,wght@1,400;1,700&family=Sansita+Swashed:wght@300&display=swap" rel="stylesheet">   <link rel="stylesheet" href="./assets/style.css">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
  <link rel="stylesheet" href="./assets/style.css">
</head>
<body>
  <div id="app">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <!-- <button class="btn" type="button"> KANBAN </button> -->
      <img src="./assets/logo.png" alt="" width="30px"> KANBAN
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <button type="button" class="btn">Home</button>
          </li>
          <li class="nav-item">
          </li>
        </ul>
        <button v-if = "pageName === 'Home Page'" type="button" class="btn btn-logout" id="btn-logout" @click='logout'>Logout</button>
      </div>
    </nav>
    <!-- <h1>{{ message }}</h1> -->

    <section id="login-page" class="container" v-if = "pageName === 'Login Page'">
      <div class="row justify-content-center mt-5">
        <div class="col-3 mt-5">
          <h1 class="mb-5 text-center"><b>Login</b></h1>
          <form id="form-login" @submit.prevent='login' >
            <div class=" form-group mt-1">
              <label for="login-email">Email address</label>
              <input type="email" class="form-control" id="login-email" v-model='user.email' placeholder="Your email">
            </div>
            <div class=" form-group mt-1">
              <label for="login-password">Password</label>
              <input type="password" class="form-control" id="login-password" v-model='user.password' placeholder="Password">
            </div>
            <button type="submit" class="btn btn-submit btn-block">Sign In</button>
          </form>
          <h6 for="" class="mt-2 text-center">Or login with </h6>
          <div class="container-oauth">
            <div class="g-signin2 btn btn-google rounded" data-onsuccess="onSignIn"></div>
          </div>
          <button type="button" @click="changePage('Register Page')"> Haven't account ? Click here !</button>
        </div>
        <div class="col-6">
          <div class="mb-5 mt-5">
            <img src="./assets/login.svg" alt="" class="img-fluid mt-5 img-login">
          </div>
        </div>
      </div>
    </section>
  
    <section id="register-page" class="container" v-if = "pageName === 'Register Page'">
      <div class="row justify-content-center mt-5">
        <div class="col-4 mt-5">
          <h1 class="mb-5 text-center"><b>Register</b></h1>
          <form id="form-register" @submit.prevent='regist'>
            <div class=" form-group mt-1">
              <label for="regist-username">Username</label>
              <input type="text" v-model="registUser.name" class="form-control" id="regist-username" placeholder="Your username">
            </div>
            <div class="form-group mt-1">
              <label for="regist-email">Email address</label>
              <input type="email" v-model="registUser.email" class="form-control" id="regist-email" placeholder="Your email">
            </div>
            <div class="form-group mt-1">
              <label for="register-password">Password</label>
              <input type="password" v-model="registUser.password" class="form-control" id="register-password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-submit btn-block">Sign Up</button>
          </form>
        </div>
        <div class="col-6">
          <div class="mb-5 mt-5 ml-5">
            <img src="./assets/regist.svg" alt="" class="img-fluid mt-5 img-regist">
          </div>
        </div>
      </div>
  
    </section>
  
    <section id="main-page" class="" v-if = "pageName === 'Home Page'">
      <!-- <ul>
        <li v-for='task in dataTask' >{{ task.title }}</li>
      </ul> -->
      <div class="container mt-3">
        <div class="row">
          <!-- Backlog -->
          <div class="col-md-3 col-sm-6 mt-3">
            <div class="p-2 rounded task-header"><h5 class="text-center">Backlog</h5></div>
            <div class="p-1 container-overflow">
              <!-- Loop Backlog -->
              <div class="card" v-for="data in filteredDataBacklog" :key="data.id">
                <div class="card-body">
                  <h5 class="card-title">{{ data.title }}</h5>
                  <p class="card-text text-right"><i>Author: {{ data.User.name }}</i></p>
                </div>
                <div class="card-footer container-button-task">
                  <button type="button" class="btn far fa-edit" @click.prevent="editData(data.id)"></button>
                  <button type="button" class="btn far fa-trash-alt" @click.prevent="deleteData(data.id)"></button>
                  <button type="button" class="btn fas fa-arrows-alt" @click.prevent="patchData(data.id)" ></button>
                </div>
              </div>
            </div>
            <div class="rounded task-bottom mb-2">
              <button type="button" class="btn btn-add fas fa-plus"><label class="ml-3">Add</label></button>
            </div>
             <!-- Form Add -->
             <div class="add-task-page">
              <form action="">
                <textarea class ="add-task" name="add-backlog"></textarea>
                <button type="submit" class="btn btn-add-task fas fa-check"><label class="ml-2">Add Task</label></button>
                <button type="button" class="btn btn-cancel fas fa-times"><label class="ml-2">Cancel</label></button>
              </form>
            </div>
            <!-- Form Edit -->
            <div class="edit-task-page">
              <form action="">
                <textarea class ="edit-task" name="edit-backlog"></textarea>
                <button type="submit" class="btn btn-add-task fas fa-check"><label class="ml-2">Edit Task</label></button>
                <button type="button" class="btn btn-cancel fas fa-times"><label class="ml-2">Cancel</label></button>
              </form>
            </div>
          </div>
          <!-- Todo -->
          <div class="col-md-3 col-sm-6 mt-3">
            <div class="p-2 rounded task-header-2"><h5 class="text-center">Todo</h5></div>
            <div class="p-1 container-overflow">
              <!-- Loop Todo -->
              <div class="card" v-for="data in filteredDataTodo" :key="data.id">
                <div class="card-body">
                  <h5 class="card-title">{{ data.title }}</h5>
                  <p class="card-text text-right"><i>Author: {{ data.User.name }}</i></p>
                </div>
                <div class="card-footer container-button-task">
                  <button type="button" class="btn far fa-edit" @click.prevent="editData(data.id)"></button>
                  <button type="button" class="btn far fa-trash-alt" @click.prevent="deleteData(data.id)"></button>
                  <button type="button" class="btn fas fa-arrows-alt" @click.prevent="patchData(data.id)" ></button>
                </div>
              </div>
            </div>
            <div class="rounded task-bottom mb-2">
              <button type="button" class="btn btn-add fas fa-plus"><label class="ml-3">Add</label></button>
            </div>
            <!-- Form Add -->
            <div class="add-task-page">
              <form action="">
                <textarea class ="add-task" name="add-todo"></textarea>
                <button type="submit" class="btn btn-add-task fas fa-check"><label class="ml-2">Add Task</label></button>
                <button type="button" class="btn btn-cancel fas fa-times"><label class="ml-2">Cancel</label></button>
              </form>
            </div>
            <!-- Form Edit -->
            <div class="edit-task-page">
              <form action="">
                <textarea class ="edit-task" name="edit-todo"></textarea>
                <button type="submit" class="btn btn-add-task fas fa-check"><label class="ml-2">Edit Task</label></button>
                <button type="button" class="btn btn-cancel fas fa-times"><label class="ml-2">Cancel</label></button>
              </form>
            </div>
          </div>
          <!-- Doing -->
          <div class="col-md-3 col-sm-6 mt-3">
            <div class="p-2 rounded task-header"><h5 class="text-center">Doing</h5></div>
            <div class="p-1 container-overflow">
              <!-- Loop Doing -->
              <div class="card" v-for="data in filteredDataDoing" :key="data.id">
                <div class="card-body">
                  <h5 class="card-title">{{ data.title }}</h5>
                  <p class="card-text text-right"><i>Author: {{ data.User.name }}</i></p>
                </div>
                <div class="card-footer container-button-task">
                  <button type="button" class="btn far fa-edit" @click.prevent="editData(data.id)"></button>
                  <button type="button" class="btn far fa-trash-alt" @click.prevent="deleteData(data.id)"></button>
                  <button type="button" class="btn fas fa-arrows-alt" @click.prevent="patchData(data.id)" ></button>
                </div>
              </div>
            </div>
            <div class="rounded task-bottom mb-2">
              <button type="button" class="btn btn-add fas fa-plus"><label class="ml-3">Add</label></button>
            </div>
            <!-- Form Add -->
            <div class="add-task-page">
              <form action="">
                <textarea class ="add-task" name="add-doing"></textarea>
                <button type="submit" class="btn btn-add-task fas fa-check"><label class="ml-2">Add Task</label></button>
                <button type="button" class="btn btn-cancel fas fa-times"><label class="ml-2">Cancel</label></button>
              </form>
            </div>
            <!-- Form Edit -->
            <div class="edit-task-page">
              <form action="">
                <textarea class ="edit-task" name="edit-doing"></textarea>
                <button type="submit" class="btn btn-add-task fas fa-check"><label class="ml-2">Edit Task</label></button>
                <button type="button" class="btn btn-cancel fas fa-times"><label class="ml-2">Cancel</label></button>
              </form>
            </div>
          </div>
          <!-- Done -->
          <div class="col-md-3 col-sm-6 mt-3">
            <div class="p-2 rounded task-header-2"><h5 class="text-center">Done</h5></div>
            <div class="p-1 container-overflow">
              <!-- Loop Done -->
              <div class="card" v-for="data in filteredDataDone" :key="data.id">
                <div class="card-body">
                  <h5 class="card-title">{{ data.title }}</h5>
                  <p class="card-text text-right"><i>Author: {{ data.User.name }}</i></p>
                </div>
                <div class="card-footer container-button-task">
                  <button type="button" class="btn far fa-edit" @click.prevent="editData(data.id)"></button>
                  <button type="button" class="btn far fa-trash-alt" @click.prevent="deleteData(data.id)"></button>
                  <button type="button" class="btn fas fa-arrows-alt" @click.prevent="patchData(data.id)" ></button>
                </div>
              </div>
            </div>
            <div class="rounded task-bottom mb-2">
              <button type="button" class="btn btn-add fas fa-plus"><label class="ml-3">Add</label></button>
            </div>
            <!-- Form Add -->
            <div class="add-task-page">
              <form action="">
                <textarea class ="add-task" name="add-done"></textarea>
                <button type="submit" class="btn btn-add-task fas fa-check"><label class="ml-2">Add Task</label></button>
                <button type="button" class="btn btn-cancel fas fa-times"><label class="ml-2">Cancel</label></button>
              </form>
            </div>
            <!-- Form Edit -->
            <div class="edit-task-page">
              <form action="">
                <textarea class ="edit-task" name="edit-done"></textarea>
                <button type="submit" class="btn btn-add-task fas fa-check"><label class="ml-2">Edit Task</label></button>
                <button type="button" class="btn btn-cancel fas fa-times"><label class="ml-2">Cancel</label></button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="./assets/main.js"></script>
</body>
</html>