@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,500&display=swap');

@mixin flexCenter {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;

}
@mixin background {
    background-image: url("https://wallpaperaccess.com/full/1373048.jpg");
    background-size : cover;
}
@mixin card-default {
    display: flex;
    min-height: 800px;
    justify-content: center;
    align-items: center;
}
@mixin card-size {
    min-width: 50rem;
    min-height: 30rem;
}

$box-shadow : 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
$max-height : 100%;

.navbar-container {
    @include flexCenter() ;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: $box-shadow;
}

.navbar-features {
    @include flexCenter() ;
    list-style: none;
    height: $max-height;
    min-width: 240px;

    .add-task:hover{
        cursor: pointer;
        color: blue;
    }
}
.edit-task{
    @include flexCenter(); 
    
    button {
        margin-left: 2px;
    }
}

.logo{
    font-family: 'Yellowtail', cursive;
    font-size: 30px;
}
.add-task{
    @include flexCenter() ;
    height: $max-height;
    min-width: 100px;

    i {
        border: solid black 2px;
        border-radius: 50%;
        padding: 8px;
        margin-right: 15px;
    }

    p {
        font-family: 'Raleway', sans-serif;
        padding-top: 15px;
    }
}

.login-container {
    @include card-default();
    @include background() ;

    .card{
        @include card-size();
    }
}

.add-container {
    @include card-default();


    .card{
        @include card-size();

    }
}

img {
    width: 50px;
}