@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,500&display=swap');

@mixin flexCenter {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;

}

$box-shadow : 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
$max-height : 100%;

.navbar-container {
    @include flexCenter() ;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: $box-shadow;
}

.navbar-features {
    @include flexCenter() ;
    list-style: none;
    height: $max-height;
    min-width: 240px;

    .add-task:hover{
        cursor: pointer;
    }
}

.logo{
    font-family: 'Yellowtail', cursive;
    font-size: 30px;
}
.add-task{
    @include flexCenter() ;
    height: $max-height;
    min-width: 100px;

    i {
        border: solid black 2px;
        border-radius: 50%;
        padding: 8px;
        margin-right: 15px;
    }

    p {
        font-family: 'Raleway', sans-serif;
        padding-top: 15px;
    }
}

.login-container {
    display: flex;
    /* background-color: red; */
    min-height: 500px;
    justify-content: center;
    align-items: center;
}

img {
    width: 50px;
}