* {
    margin : 0;
    padding : 0;
}


.container-navbar {
    color : black;
    display : flex;
    justify-content: space-evenly;
    font-size: x-large;
}   

.container {
    justify-content: space-evenly;
    min-height: 500px;
}

.container-category {
    display: flex;
    justify-content: space-evenly;
}

.anyClass {
    height:400px;
    overflow-y: scroll;
}

.black {
    background-color:#ffeaa7;
    padding : 20px;
    justify-content: space-evenly;
    display: flex;
}

.bg-dark {
    background-color:#0984e3 !important;
}

.flexbox-item-1 {
    background-color: #55efc4;
}

.flexbox-item-2 {
    background-color: #ff7675;
}

.flexbox-item-3 {
    background-color: #6c5ce7;
}

.flexbox-item-4 {
    background-color: #b2bec3;
}

.item-box {
    padding: 10px;
    width: 300px;
}

.container-card {
    display: flex;
    justify-content: center;
    flex: row
}