.front {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 5%;
}

.main {
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
}

.register {
    padding: 10px;
}

.form {
    border-radius: 20px;
    background-color: #f1f2f6;
    padding: 30px
}

.front-img {
    width: 400px;
    position: relative;
}

.navbar {
    background-color: #00b894;
    color: whitesmoke;
}

.item {
    padding: 15px;
    color: whitesmoke;
    width: 50px;
}

.card-header {
    background-color: #4E9864;
    color: white;
}

.blue {
    background-color: #00cec9;
}

.yellow {
    background-color: #fdcb6e;
}

.red {
    background-color: #e17055;
}

.samaritan {
    background-color: #3c6382;
}