* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Navbar */
.nav-bar {
    width: 100%;
    height: 50px;
    background-color: rgb(99, 99, 240);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

/* Login Page */
#login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 543px;
    border: solid 1px black;
}

.register-card {
    width: 350px;
    height: 370px;
    /* border: black 1px solid; */
}

.login-card {
    width: 350px;
    height: 370px;
    /* border: black 1px solid; */
}

#login-form {
    padding: 10px;
}

#register-form {
    padding: 10px;
}

/* Main Page */
#main-page {

}

#hallo {
    height: 450px;
    overflow: scroll;
}