@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

body{
    font-family: 'Noto Serif', serif;
    background-image: url("bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.content{
    margin: 8%;
    background-color: white;
    padding: 4rem 1rem 4rem 1rem;
    box-shadow: 0 0 5px 5px rgba(0,0,0, .05);
}

.contentaddtodo{
    margin: 2% 5%;
    width: 30%;
    background-color: rgba(2, 82, 255, 0.1);
    padding: 1rem 1rem 1rem 1rem;
    box-shadow: 0 0 5px 5px rgba(0,0,0, .05);
}

.contentedittodo{
    margin: 2% 5%;
    width: 30%;
    background-color: rgba(2, 255, 36, 0.1);
    padding: 1rem 1rem 1rem 1rem;
    box-shadow: 0 0 5px 5px rgba(0,0,0, .05);
}

.signin-text{
    font-style: normal;
    font-weight: 600;
}

.form-control{
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-color: lightsteelblue !important;
    border-style: solid;
}

.btn-class{
    border-color: lightskyblue; 
}

.btn-class:hover{
    background-color: rgb(57, 179, 255);
}