*{
  font-family: 'Overlock', cursive;
}
.img-login{
  width: 420px;
}
.btn-submit{
  background-color: #b97394;
  /* width: 100px; */
}
.img-regist{
  width: 350px;
}
.navbar{
  background-color: #d68fb0;
}
.container-oauth{
  display: flex;
  justify-content: center;
  align-items: center;
}
.task-header{
  background-color: #d68fb0;
}
.task-header-2{
  background-color: #72093a96;
}
.container-overflow{
  height: 500px;
  overflow: scroll;
  background-color: rgb(250, 234, 240);
}
.container-overflow .card{
  margin-top: 10px;
}
.container-button-task{
  display: flex;
  justify-content: center;
}

#main-page{
  margin-bottom: 100px;
}
.task-bottom{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.btn-add{
  width: 100%;
  background-color: #e7bbd0;
}
.add-task{
  width: 100%;
  height: 70px;
}
.btn-add-task{
  background-color: #b97394;
  width: 50%;
}
.btn-cancel{
  background-color: rgb(219, 214, 214);
  width: 48%;
}
.edit-task{
  width: 100%;
  height: 70px;
}