$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$white: white;
$blue: #3498db;
$green: #2ecc71;
$orange: #e67e22;
$yellow: #8a6e00;
$red: #e74c3c;
$cyan: rgb(39, 177, 136);

body {
	font: 100% $font-stack;
	color: $primary-color;
}

.custom-navbar {
	background-color: $blue;
	color: $white;
	padding: 15px;
	font: 100% $font-stack;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.title-nav-bar {
	align-items: center;
	height: 100%;
	padding: 0px;
}

.log-out-btn:hover {
	color: $red;
	background-color: $primary-color;
}

.log-in-btn:hover {
	color: $primary-color;
	background-color: $green;
}

.home-btn:hover {
	color: $green;
	background-color: $primary-color;
}

.content {
	max-height: 500px;
}

.bg-cyan {
	background-color: $cyan;
}

.bg-orange {
	background-color: $orange;
}

.card-title {
	text-decoration: underline;
}

.addButton {
	margin-bottom: 10px;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
	padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 5px auto; /* 15% from the top and centered */
	border: 1px solid #888;
	width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
	/* Position it in the top right corner outside of the modal */
	position: absolute;
	right: 25px;
	top: 0;
	color: #000;
	font-size: 35px;
	font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
	color: red;
	cursor: pointer;
}

/* Add Zoom Animation */
.animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
	from {
		-webkit-transform: scale(0);
	}
	to {
		-webkit-transform: scale(1);
	}
}

@keyframes animatezoom {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}
