* {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

/* REGISTER PAGE */
/* LOGIN PAGE */
.login-container, 
.register-container {
  display: flex;
  background-color: #e0e0e0;
  height: 619px;
  justify-content: center;
  align-items: center;
}
.login-form,
.register-form {
  height: 80%;
  background-color: white;
  width: 40%;
  padding: 50px;
}
.form-group {
  margin-top: 20px;
}
.login-btn {
  margin-top: 10px;
  background-color: black;
  color: white;
  padding: 5px 10px;
  width: 100%;
}
.g-signin2 {
  margin-top: 10px;
}
#button_signup {
  color: blue;
  cursor: pointer;
}
#add-organization {
  color: blue;
  cursor: pointer;
}

/* NAVBAR */

nav {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: black;
  color: white;
  margin: 10px, 0px;
  justify-content: space-between;
}

.nav-left {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 10px;
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 2rem;
}
.nav-right h5{
  margin: 0 15px;
}

.nav-right button {
  padding: 10px;
  cursor: pointer;
  background-color: white;
  padding: 5px 20px;
  border: none;
  border-radius: 10px;
  height: 30px;
}

.main-page-top {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.addCategory {
  height: 30px;
  padding: 5px;
  text-align: c;
}
.add-category-form {
  margin: 0 20px;
}
.add-task{
  margin: 10px 50px;
}
.container-button-task{
  display: flex;
  justify-content: space-evenly;
}