* {
    box-sizing: border-box;
 }

 html,
 body {
    height: 100%; 
    overflow-y:auto;
    overflow-x:hidden;
}

#login-page {
   height: 100vh;
   padding: 2rem 0;
   display: flex;
   align-items: center;
}

#register-page {
   height: 100vh;
   padding: 2rem 0;
   display: flex;
   align-items: center;
}

.register-login-content {
   width: 100%;
   display: flex;
   justify-content: center;
}

.login-image-container {
   padding-top: 18rem;
   position: relative;
   top: 0.5rem;
   margin-right: 1rem;
}

.form-container {
   padding-top: 1rem;
   padding-bottom: 2rem;
   min-width: 20rem;
   min-height: 28rem;
   border-radius: 1rem;
   border: solid 0.2rem;
   background-color: #ffe6cc;
}

#login-form {
   margin: auto;
   max-width: 250px;
}

.login-form-title {
   text-align: center;
   margin-bottom: 3rem;
   margin-top: 2rem;
}

label {
   width:100%;
   text-align: left;
   font-weight: 700;
}

input[type=text], input[type=email], input[type=password], input[type=date]  {
   border: solid black .1rem;
   border-radius: 0.5rem;
   color: black;
}

.text-area {
   border: solid black .1rem;
   border-radius: 0.5rem;
   color: black;
}

.login-btn-container {
   margin-top: 3rem;
}

#login-login-btn {
   width: 100%;
   background-color: orange ;
   color:black;
   font-weight: 500;
   border: solid black 0.1rem;
}

/* #google.btn {
   border: solid black 0.1rem;
} */

#login-register-btn {
   width: 100%;
   background-color: black;
   color: white;
}

.register-image-container {
    padding-top: 18rem;
    position: relative;
    top: 0.5rem;
    margin-right: 1rem;
}

#register-form {
   margin: auto;
   max-width: 250px;
}

.register-form-title {
   text-align: center;
   margin-bottom: 1.5rem;
   margin-top: 1rem;
}

.register-btn-container {
   margin-top: 1.5rem;
}

#register-submit-btn {
   width: 100%;
   background-color: orange ;
   color:black;
   font-weight: 500;
   border: solid black 0.1rem;
}

#register-cancel-btn {
   width: 100%;
   background-color: black;
   color: white;
}

.navbar {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 0.5rem;
}

.home-btn {
   border: solid black 0.1rem;

}

.btn-add-category {
   border: solid black 0.1rem;
}

#btn-logout {
   border: solid black 0.1rem;
}

#board-content {
    overflow-y: hidden;
    overflow-x: auto;
    align-items: flex-start;
}

#btn-add-category {
    font-weight: 500;
}

.add-edit-task-form-content {
   padding-top: 1rem;
   padding-bottom: 2rem;
   min-width: 26rem;
   min-height: 32rem;
   border-radius: 1rem;
   border: solid 0.2rem;
   background-color: #ffe6cc;
   margin: auto;
}

.add-edit-task-form {
   margin: auto;
   max-width: 23rem;
}

.add-edit-task-form-title {
   text-align: center;
   margin-bottom: 1.5rem;
   margin-top: 1rem;
}

.add-edit-task-btn {
   width: 100%;
   background-color: orange ;
   color:black;
   font-weight: 500;
   border: solid black 0.1rem;
}

.delete-task-btn {
   width: 100%;
   color: black;
   border: solid black 0.1rem;
}

.add-edit-cancel-btn {
   width: 100%;
   background-color: gray;
   color: black;
   font-weight: 500;
   border: solid black 0.1rem;
}

.add-edit-category-form-content {
   padding-top: 1rem;
   padding-bottom: 2rem;
   min-width: 20rem;
   min-height: 28rem;
   border-radius: 1rem;
   border: solid 0.2rem;
   background-color: #ffe6cc;
}

.add-edit-category-form {
   margin: auto;
   width: 25rem;
}

.add-edit-category-form-title {
   text-align: center;
   margin-bottom: 1rem;
   margin-top: 2rem;
}

.category-form-btn-container {
   margin-top: 2rem;
}

.add-edit-category-btn {
   width: 100%;
   background-color: orange ;
   color:black;
   font-weight: 500;
   border: solid black 0.1rem;
}

.category-cancel-btn {
    width: 100%;
   background-color: grey;
   color: black;
   font-weight: 500;
   border: solid black 0.1rem;
}

.color-select {
   font-size: 0.8rem;
   margin-bottom: 0;
   border: solid black 0.1rem;
   border-radius: 0.4rem;
   font-size: 1rem;
}

.board-container {
   padding-bottom: 0.5rem;
   padding-left: 1.3rem;
   padding-right: 1.3rem;
}

.category-container {
    border: solid black 0.1rem;
    border-radius: 0.5rem;
    padding-bottom: 0.5rem;
    padding-top: 1rem;
    height: auto;
    margin-top: 3rem;
    min-width: 13.2rem;
    /* margin-right: 0.5rem; */
 }
 
.category-content {
   padding: 0rem 0.5rem;
   overflow-x: hidden;
   overflow-y: auto;
}

.search-container {
   margin: 0;
   display: flex;
   justify-content: center;
}

.search-by {
   min-width: 10rem;
   font-size: 0.8rem;
   margin-bottom: 0;
   border-radius: 0.5rem;
   border: solid gray 0.1rem;
   margin-right: 1rem;
   color: black;
   font-weight: 500;
}

.search {
   min-width: 15rem;
   font-size: 0.8rem;
   margin-bottom: 0;
   border-radius: 0.1rem;
   border: solid gray 0.1rem !important;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    height:4rem;
    margin-bottom: 0;
    
}

.header-title {
    height: 1rem;
    font-size: 1rem;
}

.header-icon-container {
    display: flex;
    justify-content: space-between;
}

.add-task-icon {
   position: relative;
   right: 2rem;
}

.delete-category-icon {
   position: relative;
   left: 2rem;
}

.add-edit-form-content {
   padding-top: 1rem;
   min-width: 26rem;
   min-height: 30rem;
   border-radius: 1rem;
   border: solid 0.2rem;
   background-color: #ffe6cc;
}

#add-edit-task-form {
   margin: auto;
   max-width: 23rem;
}

.add-edit-task-form-title {
   text-align: center;
   margin-bottom: 1.5rem;
   margin-top: 1rem;
}

#add-task-btn {
   width: 100%;
   background-color: orange ;
   color:black;
   font-weight: 500;
   border: solid black 0.1rem;
}

.delete-task-icon {
   width: 100%;
   background-color: red;
   color:black;
   font-weight: 500;
   border: solid black 0.1rem;
}

.task-card {
    display: flex;
    flex-direction: column;
    border: solid black 0.1rem;
    border-radius: 0.3rem;
    padding: 0.5rem;
    font-size: 0.8rem;
    height: 7rem;
    margin-top: 0;
    background-color: white;
}
.task-header {
    font-weight: 700;
    border-bottom: solid gray;
}

.task-title-container {
    height: 1rem;
    overflow-y: auto;
}

.task-bottom-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-edit-icon {
    position: relative;
    bottom: 0.35rem;
    left: 0.1rem;
    width: 2rem;
}

.task-updatedAt {
    font-size: 0.6rem;
    color: gray;
}

.due-date {
    height: 1.5rem;
    display:flex;
    padding: 0.5rem;
    border: solid black 0.1rem;
    border-radius: 0.3rem;
    background-color: orange;
    justify-content: center;
    font-weight: 500;
    align-items: center;
}

.error {
   text-align: center;
}

.draggable-container {
   min-height: 78vh;
}

.no-task {
   display: flex;
   flex-direction: column;
   border: solid black 0.1rem;
   border-radius: 0.3rem;
   padding: 0.5rem;
   font-size: 0.8rem;
   height: 7rem;
   margin-top: 0;
   background-color: white;
   justify-content: center;
   align-items: center;
}

.navbar-left {
   display: flex;
   align-items: center;
}