*{
  padding: 0%;
  margin: 0%;
  max-width: 204.1vh;
}

#loginP, #registerP {
  background: rgb(167,204,254);
  background: linear-gradient(90deg, rgba(167,204,254,1) 0%, rgba(242,234,244,1) 35%);  
}

#mainP {
  background: rgb(237,232,239);
  background: linear-gradient(170deg, rgba(237,232,239,1) 31%, rgba(113,238,243,1) 76%);
}
