.navbar{
    display: flex;

}

.background-page {
    min-height: 450px;
    margin: 0%;
}

.image-home {
    padding: 0%;
    margin: 0%;
}

.pading-1 {
    padding: 0%;
}

.button-right {
    display: flex;
    justify-content: flex-end;
}
/* .kanban {
    display: flex;
    justify-content: space-around;
} */

/* .container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
} */

/* .custom-layout {
    display: flex;
    justify-self: space-between;
    padding: 10px;
} */

.custom-navbar {
    background-color: #16a085;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.center-navbar {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    height: 90%;
}

.center-navbar li {
    margin: 10px;
}

.center-navbar a {
    color: white;
    text-decoration: none;
    margin: 10px;
}

.right-navbar {
    display: flex;
    list-style: none;
    margin: 0%;
    padding: 0%;
}

.right-navbar a {
    color: white;
    padding: 10px;
}

.right-navbar li {
    margin: 8px;
}

