@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;1,300&display=swap');

* {
   font-family: 'Poppins', sans-serif;
}
body{
   background-color: rgb(50, 132, 209);
}
/* BOARD CSS */
.board-container {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   height: 73vh;
   padding: 10px;
   margin-top: 10px;
   margin-left: 55px;
   margin-right: 55px;
}
.form-login{
   display: flex;
   flex-direction: column;
   background-color: #35e2e2;
   margin: auto;
   border-radius: 0.35em;
   border: 3px solid #c3bcb2;
   width: 30%;
   padding: 30px;
   font-size: large;
}

.form-login input {
   display: flex ;
}
.category-container {
   display: flex;
   flex-direction: column;
   background-color: #35e2e2;
   margin: 30px;
   border-radius: 0.35em;
   border: 0.1px solid #c3b4b2;
   width: 300px;
}

.progress {
   height: 5px;
}

.card-header {
   font-size: 25px;
   font-weight: 400;
}

.card-header a {
   align-items: flex-end;
   float: right;
}

.task-container {
   display: flex;
   flex-direction: column;
   margin: 0px;
   height: 60vh;
}

.card {
   display: flex;
   margin-top: 15px;
   margin-left: 10px;
   margin-right: 10px;
}

.card-title {
   font-weight: 400;
}

.card-body a {
   font-size: 1rem;
}

.card-text {
   font-weight: 300;
}

.card-body h6 {
   font-style: italic;
   color: #d30e08;
}

/* NAVBAR CSS */
nav {
   background-color: #3133df;
}