*{
	padding: 0;
	margin: 0;

}

body{
		font-family: 'Poppins', sans-serif;
		
}


/* .container{
	display: flex;
	background-color: #f3a683;
	flex-direction: row;
	min-height: 500px;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
} */
.card-title{
	padding: 15px;
	color: black;

}
.Backlog{
	padding: 15px;
	color: white;
	justify-content: center;
	background-color: #d1c145
}
.Todo{
	padding: 15px;
	color: white;
	height: auto;
	background-color: #aa3a3a
}
.Doing{
	padding: 15px;
	color: white;

	background-color: #adce74
}
.Done{
	padding: 15px;
	color: white;
	background-color: #8db596
}
.navbar {
  display:flex;
  justify-content: space-between;
  align-items: baseline;

  /* padding : 20px 40px; */
}
/* .form-content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
} */



form{
	width: auto;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}



a:hover{
	color: #96dbc4;
}

.btn{
	display: inside;
	width: auto;
	height: auto;
	border-radius: 15px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #8ab89b, #38d39f, #32be8f);
	background-size: 200%;
	font-size: 100%;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: full-width;
	margin: auto;
	cursor: pointer;
	transition: .5s;
}
.btn:hover{
	background-position: right;
}

.btn-logout{

	width: auto;
	height: auto;
	border-radius: px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #c05555, #d33852, #f2d974);
	background-size: 200%;
	font-size: 100%;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: full-width;
	margin: auto;
	cursor: pointer;
	transition: .5s;
}
.btn-logout:hover{
	background-position: right;
}


