*{
	padding: 0;
	margin: 0;
	

}

body{
		font-family: 'Poppins', sans-serif;
		background-color: #f9f7cf;
		
}


/* .container{
	display: flex;
	background-color: #f3a683;
	flex-direction: row;
	min-height: 500px;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
} */
.card-title{
	padding: 15px;
	color: black;

}
.Backlog{
	margin-top: 20px;
	padding: 15px;
	color: white;
	justify-content: center;
	background-color: #f5b971
}
.Todo{
	margin-top: 20px;
	padding: 15px;
	color: white;
	height: auto;
	background-color: #aa3a3a
}
.Doing{
	margin-top: 20px;
	padding: 15px;
	color: white;

	background-color: #d1eaa3
}
.Done{
	margin-top: 20px;
	padding: 15px;
	color: white;
	background-color: #aacdbe
}
.nav{

	min-height: 10px;
	background-color: #f2dcbb;
	margin-left: 0px;
	margin-right: 0px;
	justify-content: flex-end;
}

/* .form-content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
} */



form{
	width: auto;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
}



a:hover{
	color: #96dbc4;
}
.button{
	display: inline-block
}
.p-5{
	min-width: auto;
	min-height: auto; 
	border-radius: 10px;
	color: #8ab89b;
	background-color: black;
}


.btn-log-reg{
	display: inside;
	width: 100px;
	min-height: 30px;
	border-radius: 5px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #8ab89b, #38d39f, #32be8f);
	background-size: 10px;
	font-size: auto;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: full-width;
	margin: auto;
	cursor: pointer;
	transition: .5s;
	display: inline-block
	
}
.btn-log-reg:hover{
	background-position: right;
}

/* .btn-log-reg-logout{

	width: auto;
	height: auto;
	border-radius: 0px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #c05555, #d33852, #f2d974);
	background-size: 200%;
	font-size: 100%;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: full-width;
	margin: auto;
	cursor: pointer;
	transition: .5s;
}
.btn-log-reg-logout:hover{
	background-position: right;
} */


