body {
  background-color: #212121;
}

#logo-kanban {
  max-width: 7%;
}

.custom-navbar {
  background-color: #303030;
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.right-navbar {
  display: flex;
  align-items: center;
  height: 100%
}

.custom-li-bg {
  background-color: #303030;
}

.btn-color {
  align-items: flex-end;
  background-color: #303030;
  color: black;
}

.card {
  border-style: none;
}

.custom-col {
  max-height: 480px;
  overflow: hidden scroll;
}